.App {
  text-align: center;
  display: block;
  background-color: #afc09a
}
.PlayerHolder{
  display: flex;
  justify-content: space-around;
}
.player{
  display: flex;
  flex-direction: row;
}
.icon{
  max-width: 10px;
  text-align: center;
}
