@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker');
.App {
  text-align: center;
  display: block;
  background-color: #A7333F;
  cursor: pointer;
}
.Title{
  margin: 2px;
  font-size: 5em;
  font-family: 'Permanent Marker', cursive;
  color: #580C1F;
}
.PlayerHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.PlayerHolder > div {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.icon{
  max-width: 30px;
  max-height: 30px;
  text-align: center;
  font-size: 1.5em;
  margin: 10px;
  background-color: #C52233;
  border-color: #580C1F;
  border-radius: 50%;
}
.playerText{
  font-size: 1.5em;
  color: #580c1f;
  font-family: 'Gloria Hallelujah', cursive;
}

.Message{
  display: inline;
  padding: 5px;
  margin-top: 10px;
  font-size: 2em;
  color: #EEB4B3;
  font-family: 'Gloria Hallelujah', cursive;
}
input:focus {outline: none; }
